<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<!--  
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>  -->

	<!--  
	<servlet>
		<servlet-name>jspservlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jspservlet</servlet-name>
		<url-pattern>/some-path/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>user-webservice</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>user-webservice</servlet-name>
		<url-pattern>/restControllerPath/**</url-pattern>
	</servlet-mapping> -->

	<!--  
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping> -->

	<!-- The Welcome File List -->
	<!-- 
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list> -->
	
</web-app>